h1 {
    color: #E2DBBE
}

p {
    color: #6FD08C
}

body {
    background-color: #7B9EA8
}

button {
    color: #769FB6 width: 200px;
    height: 120px;
    font-size: 20px;
}

button:hover {
    box-shadow: 20px 20px 20px 20px #188FA7;
}

html {
    max-width: 950px;
}

body {
    text-align: center;
    margin-left: 250px;
}

.buttons {
    display: grid;
    grid-column-template: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
    grid-column: 1 / 8;
}